.related-products {
  display: block;
} 

.related-products__subheading {
  text-align: center;
  margin-bottom: 10px;
}

/* Zapio Product Card Styles */


.zapio-product-card__category {
  font-size: 0.8em;
  color: #555;
  margin-bottom: 5px;
}

.zapio-product-card__badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.7em;
  z-index: 3;
}

.zapio-product-card {
  background-image: url("{{ 'card-bg-img.png' | asset_url }}");
  background-size: cover;
  background-position: center;
  position: relative;
  /* background-color: {{ card_product.metafields.custom.widget_types_color | default: '#F5D17B' }}; */
}
.related-products .zapio-product-card p.zapio-product-card__description,
.related-products .zapio-product-card .zapio-product-card__title{
color: #0D0C0C;
}
.related-products .zapio-product-card .zapio-product-card__title{
  font-size: 28px;
} 
.related-products .zapio-product-card .zapio-product-card__category {
  color: #0D0C0C;
  background-color: #fff;
}
.related-products .zapio-product-card .zapio-widget-product-card-link:hover{
  color: #444444;
}